body{
    text-align:center;/*centra el texto del body*/
    margin: 0px;   /* Quita margenes externas */
    padding: 0px;   /*Quita márgenes internas al body*/
    
    /*FUENTES*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smooting: antialiased;
  
}

#header {
    /*border: 1px solid black;*/
    height: 120px;  /*altura */
    width: 100%;        /*anchura*/
    background: white;  /*color de fondo */
    border-bottom: 1px solid #ccc; /* Borde inferior de encabezado */
    border-top: 5px solid #61dafb;    /*borde superior*/

}

.center {
    width: 75%;  /*tamaño en proporción al screen (pantalla)*/
    margin: 0px auto;  /*quita margenes verticales y automatiza para centrar por default margenes horizontales */
}


.clearfix{
    /*LIMPIAR FLOTADOS */
    clear:both;
    float: none;
}

#logo {
    width: 30%;
    font-size: 30px;
    float: left;
    margin-top: 35px;

}

#logo img{
    display: block;  /* convierte el objeto en bloque para moverlo fácilmente.  */
    float: left;  /* flota el objeto a la izq-*/
    height: 60px;
    margin-top: -10px;
    animation: girar infinite 30s linear; /*Aplica efecto girar */
      
}
/* EFECTO GIRAR --*/ 
@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#brand {
    display: block;
    margin: 0;
    float:left;
    margin-left: 10px;

}
#menu{
    width:70%;
    float: right;
    font-size: 18px;
}

#menu ul{
    line-height: 85px; /*ancho de renglon*/;
    width: 60%;
    float: right;
    

}

#menu ul li { 
    list-style: none; /*quita viñetas*/
    height:40px;
    display: inline-block;/* pasar el texto a linea*/
    margin-left: 15px;
    margin-right: 15px;
}

#menu a{
    text-decoration: none; /*quita subrayado*/
    color: #444;
    transition: 300ms all;
}

#menu a:hover{
    color: #3cb2d3;
}

#slider{
    background: #61dafb ;
    width: 100%;
    height: 350px;
    line-height: 320px; /*tamaño de altura de linea*/
    text-shadow: 0px 0px 5px #444;
    color: white;    

    /* DEGRADADO CSS */
    background: rgb(30,180,242);
    background: radial-gradient(circle, rgba(30,180,242,1) 0%, rgba(33,185,242,1) 12%, rgba(46,169,249,1) 41%, rgba(32,171,238,1) 48%, rgba(73,183,255,1) 68%, rgba(0,151,255,1) 100%);
}

